@model EntityLayer.Concreate.Category
@{
    ViewBag.Title = "categoryupdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>categoryupdate</h2>

@using (Html.BeginForm("categoryupdate", "AdminCategory", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Kategori ID")
    @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryId)

    <br />
    <br />
    @Html.Label("KategoriAdı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br/>
    <br/>
    <br/>

    @Html.Label("KategoriAçıklaması")
    @Html.TextAreaFor(x => x.CategoryDescription, new {@class="form-control"})

    <br/>
    <br/>
    <button class="btn btn-success">Güncelle</button>

</div>

}